# input - CRLF -> LF -> Database, No Conversion -> Working Directory
*       text=input

# Exclude files from git archive (See https://git-scm.com/docs/git-archive)
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
